body {
  // background-color: #111111;
  // background-color: #2b2b33;
  background-color: #101011 !important;
  background-color: #1a191d !important;
  background-color: #0d0e0e !important;

  // --neumorphic-bg: #1a191d; /* Slightly lighter than pure black, similar to your background */
  --neumorphic-bg: #131414;

  --neumorphic-icon-color: #a0a0a0;

  --neumorphic-shadow-dark: #101010; /* Darker shade for the "inner" dark shadow */
  --neumorphic-shadow-light: #0e0c0c; /* Lighter shade for the "inner" light highlight */
  margin: 0;
  padding: 0;
}

#app {
  cursor: crosshair;
  min-height: 100dvh;
  // overflow-y: scroll;
  // overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  position: relative;
}

* {
  font-family: "Recoleta-Bold", sans-serif;
  box-sizing: border-box;
}

canvas {
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

.site__content {
  display: flex;
  flex-direction: column;
}

.main {
  // background-color: #0d0e0e !important;
  z-index: 3;
  display: block;
  position: relative;

  @media (max-width: 768px) {
    overflow: hidden;
  }
}

.main__title {
  pointer-events: none;
  @media (max-width: 1320px) {
    position: relative !important;
    top: 0 !important;
    font-size: clamp(3.5rem, 10vw, 120px) !important;
    color: white !important;
    filter: brightness(0.9) !important;
  }
}
